<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token  %}
        <p>
            <input type="text" size="40" placeholder="Ваше имя" name="sdfdsfdfeee">
            <p>
            <b>Каким браузером в основном пользуетесь:</b><Br>
            <input type="radio" name="browser" value="ie"> Internet Explorer<Br>
            <input type="radio" name="browser" value="ie"> Google Chrome<Br>
            <input type="radio" name="browser" value="opera"> Opera<Br>
            <input type="radio" name="browser" value="firefox"> Firefox<Br>
            </p>

                <textarea name="sdfsdfsfefw" cols="40" rows="3" placeholder='Комментарий'></textarea></p>
                <p><input type="submit" value="Отправить">
                <input type="reset" value="Очистить"></p>
        </p>
    </form>
</body>
</html>