{% extends 'app/base_block.html' %}
{% block title %}
    New
{% endblock %}
{% block content %}
<form method="post" action="{% url 'create'%}" class="form-inline ">
  {% csrf_token %}
    {% for l in form %}
     <div class="form-group" >
       <label>{{ l.label }}</label>
        {{ l }}
      {% if l.errors %}
        {% for err in l.errors %}
          <div class=" alert-danger">
            {{ err }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% endfor %}

   <button type="submit" class="btn btn-primary"  >Submit</button>
</form>
{% for men in obj %}
    <div><a1>{{ men.id }}</a1></div>
    <div><a1>{{ men.name }}</a1></div>
    <div><a1>{{ men.email }}</a1></div>
    <div> *********************** </div>
{% endfor %}
{% endblock %}


