{% extends 'app/base_block.html' %}
{% load filters %}
{% load tags %}
{% block content %}
{% if request.user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
    {{request.user}}
    {% else %}
        <a class="btn btn-primary" href="{% url 'register' %}">Регистрация</a>
        <a class="btn btn-primary" href="{% url 'account_login' %}">Войти</a>

{% endif %}

<div class="col-8">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Создать Man</button>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'index' %}" method="post" id="form_add">
              {% csrf_token %}

              {{ form }}

                {% if form.errors %}
                    <div class=" alert-danger">
                        {{ form.errors }}
                    </div>
                {% endif %}

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
            <button form="form_add" type="submit" class="btn btn-primary">Создать</button>
          </div>
        </div>
      </div>
</div>


    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">author</th>
          <th scope="col">Slug</th>
        </tr>
      </thead>
      <tbody>
        {% for man in obj %}
        <tr>
          <th scope="row">{{ man.id }}</th>
          <td>{{ man.author }}</td>
          <td>{{ man.slug }}</td>
          {% if request.user.is_authenticated %}
                <td> <a class="btn btn-primary" href="{{ man.get_absolute_url }}">Редактировать</a></td>
                <td> <a class="btn btn-danger" href="{% url 'logout' %}">Удалить</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
</table>
</div>
<p2>{{ 1|add }}</p2>
<p2>{% qwe %}</p2>
<iframe src="https://www.google.com/maps/d/embed?mid=1v1qG5ha46gw77FuSTpbiKuSK6LgKndHA" width="940" height="480"></iframe>
<!-- <a class="disabled" href="{% url 'index' %}" >Disabled link</a>-->
<button id="asd" onmouseover="ItR('asd')" onmouseout="ItW('asd')">ASD</button>
{% endblock %}
