{% extends 'app/base_block.html' %}
{% block title %}
    New
{% endblock %}
{% block content %}
<form method="post" action="{% url 'login' %}" class="form-inline ">
  {% csrf_token %}
    {% for l in form %}
     <div class="form-group" >
       <label>{{ l.label }}</label>
        {{ l }}
    </div>
    {% endfor %}

    {% if form.errors %}
          <div class=" alert-danger">
            {{ form.errors }}
          </div>
      {% endif %}
    {{ request.user}}

   <button type="submit" class="btn btn-primary"  >Submit</button>
</form>
{% endblock %}
