{% extends 'app/base_block.html' %}
{% block title %}
    New
{% endblock %}
{% block content %}
<div class="col-5">
  <form class="signup" id="signup_form" method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="col-xs-12 col-sm-12 col-md-12">
      {{ form.non_field_errors }}
      {% if form.username.errors %}
        <div class="alert alert-danger">{{ form.username.errors }}</div>
      {% endif %}
      {{ form.username.label }} <sup class="text-danger">*</sup>
      <div style="margin-bottom: 25px" class="input-group">
        {{ form.username }}
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
      {% if form.email.errors %}
        <div class="alert alert-danger">{{ form.email.errors }}</div>
      {% endif %}
      {{ form.email.label }} <sup class="text-danger">*</sup>
      <div style="margin-bottom: 25px" class="input-group">
        {{ form.email }}
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
      {% if form.password1.errors %}
        <div class="alert alert-danger">{{ form.password1.errors }}</div>
      {% endif %}
      {{ form.password1.label }} <sup class="text-danger">*</sup>
      <div style="margin-bottom: 25px" class="input-group">
        {{ form.password1 }}
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
      {% if form.password2.errors %}
        <div class="alert alert-danger">{{ form.password2.errors }}</div>
      {% endif %}
      {{ form.password2.label }} <sup class="text-danger">*</sup>
      <div style="margin-bottom: 25px" class="input-group">
        {{ form.password2 }}
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
      {% if form.captcha.errors %}
        <div class="alert alert-danger">{{ form.captcha.errors }}</div>
      {% endif %}
      {{ form.captcha.label }} <sup class="text-danger">*</sup>
      <div style="margin-bottom: 25px" class="input-group">
        {{ form.captcha }}
      </div>
    </div>


    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" id="asd">Зарегистрироваться</button>
  </form>
</div>

{% endblock %}